<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>App.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>CI.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Data.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Domain.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Infra.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Presentation.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>UseCasesIntegrationTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>Validation.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4319DE9E24748EFB00108B8A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4319DEB624748F0100108B8A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4319DEC124748F0200108B8A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4323AC9A247060A3001AFAEF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4328C88C246F1164007C6B69</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4328C8A5246F116E007C6B69</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>43562931246F73D700C28608</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>43562939246F73D800C28608</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>43616A672475F1D4007C3635</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>43616A6F2475F1D4007C3635</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4381E75924748AFF007B94A0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>439E7CF424707A4A00B73B3D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>43D01109246F1D8000D9B903</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>43D0111A246F206B00D9B903</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>43D01122246F206B00D9B903</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
